otp_path: "/home/aleksei/.asdf/installs/erlang/26.2"
plt_path: ".dialyzer/plts/dialyzer.plt"
deps_dirs:
  - "lib/*"
diagnostics:
  enabled:
    - crossref
  enabled:
    - dialyzer
include_dirs:
  - "include"
  - "_build/default/lib"
  - "/home/aleksei/.asdf/installs/elixir/1.16.0-otp-26"
lenses:
  enabled:
    - ct-run-test
  disabled:
    - show-behaviour-usages
macros:
  - name: DEFINED_WITH_VALUE
    value: 42
  - name: DEFINED_WITHOUT_VALUE
code_reload:
  node: am@ALEKSEI-ThinkPad-X1-Carbon-Gen-9
providers:
  enabled:
    - signature-help